<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMoney - <%= title %></title>

    <link rel="stylesheet" href="/stylesheets/navbar-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">
    <link rel="stylesheet" href="/stylesheets/table-style.css">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/component-style.css">
    <link rel="stylesheet" href="/stylesheets/form-style.css">

    <% if (typeof pageStyles !== 'undefined') { %>
        <% pageStyles.forEach(function(css) { %>
        <link rel="stylesheet" href="<%= css %>" />
        <% }) %>
    <% } %>


    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK8    33zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
 -->
    <script defer src = "/scripts/scriptPage.js""></script>

</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>